<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <div class="col-12">
        <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
      </div>
    </div>

    <div class="content-body">
      <div class="card">
        <div class="card-body">
          <section id="icon-tabs">
            <div class="row">
              <div class="col-12" *blockUI="'iconTabs'; message: 'Loading'">
                <form [formGroup]="iconTab">
                  <div class="row">
                    <div class='col-md-6'>
                      <div class="form-group">
                        <label class="form-control-label" for="clientName">Name :</label>
                        <input class="form-control" type="text" formControlName="name" [value]="iconTab.value.name" />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class="form-group">
                        <label class="form-control-label" for="clietType">Minimum Billing Amount :</label>
                        <input class="form-control" type="number" formControlName="minBilligAmt" />
                      </div>
                    </div>

                  </div>
                  <div class="form-group text-center">
                    <button [disabled]="isLoading" *ngIf="!isEdit" uiSref="address" type="button" class="btn btn-raised btn-info" (click)="createCoupon(iconTab.value)">
                      <i class="fa fa-refresh fa-spin" *ngIf="isLoading"></i>
                      Submit
                    </button>
                    <button [disabled]="isLoading" *ngIf="isEdit" uiSref="address" type="button" class="btn btn-raised btn-info" (click)="updateCoupons(iconTab.value)">
                      <i class="fa fa-refresh fa-spin" *ngIf="isLoading"></i>
                      Update
                    </button>
                  </div>
                  <button routerLink="/a/subscription/view-subscription" class="btn btn-outline-secondary secondary add-btn" style="float:'right';">
                    Close
                  </button>
                </form>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
