:host ::ng-deep .btn.btn-social-icon {
    padding: unset !important;
}
:host ::ng-deep .custom-ctr {
    background: white;
    padding: 15px;
    border: 1px solid gainsboro;
    padding-top: 30px;
}
:host ::ng-deep .add-btn {
  float: right;
  margin-top: -5%;
  position: relative;
}
